:root {
  --white: #eee;
  --black: #222;
  --dark-grey: #555;
  --grey: #777;
  --orange: #deaa86;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Monserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}