@import "../common/common";

.customers {
  margin-left: 8rem;
  padding-bottom: 6.6rem;
  background-color: var(--false-grey);
  
  .customers-paragraph {
    font-size: 1.6rem;
    color: var(--white);
    width: 50%;
    margin: 2.4rem auto 8rem auto;
    text-align: center;
    line-height: 1.6;
  }
}


.customers-card-wrapper {
  display: flex;
  justify-content: space-evenly;

  .customer-card {
    display: flex;
    background-color: var(--white);
    width: 60rem;
    height: 16rem;

    .customer-image-wrapper {
      margin: auto 0;

      .customer-image {
        width: 20rem;
        margin-left: -1.6rem;
      }
    }

  }
}

.customer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2.4rem;

  .customer-full-name {
    font-size: 2.4rem;
    font-weight: 300;
  }

  .customer-paragraph-1 {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--dark-orange);
  }

  .customer-paragraph-2 {
    font-size: 1.2rem;
    font-style: italic;
  }
}