.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 8rem;
  background-color: var(--white);
  position: fixed;
}

.menu-icon {
  margin-top: 3rem;
  cursor: pointer;
}

.menu-icon .line {
  height: .2rem;
  width: 2.5rem;
  background-color: var(--black);
  margin-bottom: 0.6rem;
}

.menu-icon .line-1, .menu-icon .line-3 {
  width: 1.8rem;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.menu-icon:hover .line {
  width: 2.5rem;
}

.social-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 25rem;
}

.social-icons-list .social-link {
  font-size: 2rem;
  color: var(--grey);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.social-icons-list .social-link:hover {
  color: var(--orange);
}

.year {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--dark-grey);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8rem;
  position: fixed;
  width: 40rem;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#222029), to(rgba(34, 32, 41, 0.8))), url("/public/img/nav-bg.jpeg") center no-repeat;
  background: linear-gradient(to top, #222029, rgba(34, 32, 41, 0.8)), url("/public/img/nav-bg.jpeg") center no-repeat;
  background-size: cover;
}

.navigation-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: var(--orange);
  text-align: center;
  margin: 2rem 0;
}

.navigation-search-input {
  width: 30rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  color: var(--orange);
  letter-spacing: 0.1rem;
  outline: none;
  border: 0.1rem solid var(--dark-grey);
  border-radius: 10rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.navigation-search-input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation-search {
  position: relative;
}

.navigation-search .navigation-search-btn {
  border: none;
  background-color: transparent;
  color: var(--orange);
  font-size: 1.7rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.navigation-search .navigation-search-btn:focus {
  outline: none;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 28rem;
}

.navigation-list .navigation-item {
  position: relative;
}

.navigation-list .navigation-link {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-list .navigation-link:hover {
  color: var(--orange);
}

.navigation-list .navigation-link::before {
  content: '';
  width: 0rem;
  height: 0.1rem;
  background-color: var(--orange);
  position: absolute;
  top: 1rem;
  left: -4rem;
  -webkit-transition: width 0.5s cubic-bezier(1, 0, 0, 1);
  transition: width 0.5s cubic-bezier(1, 0, 0, 1);
}

.navigation-list .navigation-link::after {
  content: '';
  width: 0rem;
  height: 0.1rem;
  background-color: var(--orange);
  position: absolute;
  top: 1rem;
  right: -4rem;
  -webkit-transition: width 0.5s cubic-bezier(1, 0, 0, 1);
  transition: width 0.5s cubic-bezier(1, 0, 0, 1);
}

.navigation-list .navigation-link:hover::before, .navigation-list .navigation-link:hover::after {
  width: 3rem;
}

.copyright {
  color: var(--white);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=navbar.css.map */